body {
    background-color: #f16059;
  }

 .page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #f16059;
    border-radius: 5px;
  }

body {
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
  }

  #getUrlInfo, #shortIt, #longIt {
     
    background-color: #222;
    width: 150px;
    font-family: 'Bungee', cursive;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
  }

  footer p {
    text-transform: uppercase;
    font-size: 12px;
  }

  h1 {
    font-family: 'Bungee Shade', cursive;
  }
